In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from tqdm.notebook import tqdm_notebook

In [2]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)

In [3]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.akas.tsv.gz',
 'movie.png',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'title.ratings.tsv.gz',
 'title.basics .tsv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [4]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [5]:
def get_movie_with_rating(movie_id):
    # getting the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # loop through countries in releases
    for c in releases['countries']:
        # if the country abbv==US
        if c['iso_3166_1'] == 'US':
            ## save a 'certification' key in info 
            info['certification'] = c['certification']
    return info

In [6]:
# Load API Credentials
with open('/Users/christianrim/.secret/movie_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [7]:
import tmdbsimple as tmdb
import time
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.akas.tsv.gz',
 'movie.png',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'title.ratings.tsv.gz',
 'title.basics .tsv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [8]:
tmdb.API_KEY =  login['api-key']

In [9]:
## make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

In [10]:
## movie objects have a .info dictionary 
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/l4QHerTSbMI7qgvasqxP36pqjN6.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 70.444,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.201,
 'vote_count': 23157}

In [11]:
info['budget']

63000000

In [12]:
info['revenue']

463517383

In [13]:
info['imdb_id']

'tt0133093'

Searching with IMDB_ID

In [14]:
ovie = tmdb.Movies('tt1361336')
info = movie.info()

In [15]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
response = movie.releases()
for c in response['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

R
R

In [16]:
# Get the movie object for the current id
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [17]:
# testing the function
test = get_movie_with_rating('tt0848228')
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 103.732,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.707,
 'vote_count': 28557,
 'certification': 'PG-13'}

In [18]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except: 
        pass
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28557,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28557,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.879,10310,PG-13

In [19]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.akas.tsv.gz',
 'movie.png',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'title.ratings.tsv.gz',
 'title.basics .tsv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

Define a list of the Years to Extract from the API

In [24]:
YEARS_TO_GET = [2001]

In [21]:
# importing the data from 'title.basics.tsv.gz'
imdb_titles = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
imdb_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45.0,Romance
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70.0,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90.0,Drama
3,tt0000630,movie,Hamlet,Amleto,0,1908.0,NaN,NaN,Drama
4,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120.0,"Adventure,Fantasy"

In [25]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as the current df
    df = imdb_titles.loc[ imdb_titles['startYear']==YEAR].copy()

    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    movie_ids

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # attempt to retrieve then data for the movie id
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            #errors.append([movie_id, e])
            continue 
    
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/1 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1995 [00:00<?, ?it/s]

In [29]:
errors = []
print(f"- Total errors: {len(errors)}")

- Total errors: 0

In [26]:
df_2000 = pd.read_csv('/Users/christianrim/Documents/IMDB Movies/Data/final_tmdb_data_2000.csv.gz',lineterminator='\n')
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2196.0,PG

In [28]:
df_2001 = pd.read_csv('/Users/christianrim/Documents/IMDB Movies/Data/final_tmdb_data_2001.csv.gz',lineterminator='\n')
df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.327,1188.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.536,124.0,PG-13

In [30]:
df =  pd.concat([df_2000,df_2001])
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2196.0,PG

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2735 entries, 0 to 1418
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2735 non-null   object
 1   adult                  2733 non-null   float64
 2   backdrop_path          1419 non-null   object
 3   belongs_to_collection  205 non-null    object
 4   budget                 2733 non-null   float64
 5   genres                 2733 non-null   object
 6   homepage               181 non-null    object
 7   id                     2733 non-null   float64
 8   original_language      2733 non-null   object
 9   original_title         2733 non-null   object
 10  overview               2670 non-null   object
 11  popularity             2733 non-null   float64
 12  poster_path            2413 non-null   object
 13  production_companies   2733 non-null   object
 14  production_countries   2733 non-null   object
 15  release_date           2708 non-null   object
 16  revenue                2733 non-null   float64
 17  runtime                2733 non-null   float64
 18  spoken_languages       2733 non-null   object
 19  status                 2733 non-null   object
 20  tagline                1124 non-null   object
 21  title                  2733 non-null   object
 22  video                  2733 non-null   float64
 23  vote_average           2733 non-null   float64
 24  vote_count             2733 non-null   float64
 25  certification          829 non-null    object
dtypes: float64(9), object(17)
memory usage: 576.9+ KB

In [32]:
# Removing columns with a lot of missing values
df = df.drop(['belongs_to_collection','backdrop_path','poster_path','tagline','homepage'], axis=1)
df.head()

,imdb_id,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,3.265,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...",...,2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.806,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...",...,2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",442869.0,hi,Gang,"After falling prey to underworld, four friends...",1.132,[],...,2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,28.481,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...",...,2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,In the Mood for Love,0.0,8.1,2196.0,PG

In [36]:
# getting rid of the 0's in the 'budget' and 'revenue' column
df_filtered = df[(df['budget'] != 0 & (df['revenue'] != 0))]
df_filtered.head()

,imdb_id,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,3.265,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...",...,2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Fantasticks,0.0,5.500,22.0,NaN
4,tt0118694,0.0,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,28.481,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...",...,2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,In the Mood for Love,0.0,8.100,2196.0,PG
6,tt0119273,0.0,15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",16225.0,en,Heavy Metal 2000,Upon discovery of a shard of what could be the...,10.072,"[{'id': 2216, 'logo_path': None, 'name': 'Helk...",...,2000-04-19,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Heavy Metal 2000,0.0,6.091,181.0,R
11,tt0120467,0.0,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",19085.0,en,Vulgar,Vulgar is about a man who is a children's clow...,4.162,"[{'id': 102045, 'logo_path': None, 'name': 'Ch...",...,2002-04-26,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Vulgar,0.0,5.500,44.0,R

In [37]:
df['budget'].describe()

count    2.733000e+03
mean     4.877879e+06
std      1.651752e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.400000e+08
Name: budget, dtype: float64

## How many movies had at least some valid financial information

In [39]:
# Select desired columns
selected_cols = ['title', 'revenue', 'budget']
result_df = df_filtered.loc[:, selected_cols]
result_df[:10]

                       title      revenue       budget
0                        NaN          NaN          NaN
1            The Fantasticks          0.0   10000000.0
4       In the Mood for Love   12854953.0     150000.0
6           Heavy Metal 2000          0.0   15000000.0
11                    Vulgar      14904.0     120000.0
12         Captains of April          0.0    6105121.0
13               Chicken Run  224834564.0   45000000.0
16  The Million Dollar Hotel     105983.0    8000000.0
17    Mission: Impossible II  546388105.0  125000000.0
18                     X-Men  296339527.0   75000000.0

In [40]:
df_filtered = df[(df['revenue'] > 0) & (df['budget'] > 0)]
# Group the filtered DataFrame by 'movie' and get the count of movies in each group
count_by_movie = df_filtered.groupby('title').size()

# Display the result
print(count_by_movie)

title
102 Dalmatians            1
15 Minutes                1
2001: A Space Travesty    1
28 Days                   1
3 Strikes                 1
                         ..
X-Men                     1
Xchange                   1
Y Tu Mamá También         1
Yamakasi                  1
Zoolander                 1
Length: 355, dtype: int64

In [41]:
df_filtered = df_filtered.drop(columns=['production_countries'], axis=1)
df_filtered.head()

,imdb_id,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,certification
4,tt0118694,0.0,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,28.481,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...",2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,In the Mood for Love,0.0,8.100,2196.0,PG
11,tt0120467,0.0,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",19085.0,en,Vulgar,Vulgar is about a man who is a children's clow...,4.162,"[{'id': 102045, 'logo_path': None, 'name': 'Ch...",2002-04-26,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Vulgar,0.0,5.500,44.0,R
13,tt0120630,0.0,45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7443.0,en,Chicken Run,The creators of Wallace & Gromit bring you an ...,41.173,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...",2000-06-23,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Chicken Run,0.0,6.700,4352.0,G
16,tt0120753,0.0,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",318.0,en,The Million Dollar Hotel,The Million Dollar Hotel starts with a jump fr...,11.678,"[{'id': 1490, 'logo_path': None, 'name': 'Kint...",2000-02-09,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Million Dollar Hotel,0.0,5.900,280.0,R
17,tt0120755,0.0,125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",955.0,en,Mission: Impossible II,With computer genius Luther Stickell at his si...,32.664,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...",2000-05-24,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Mission: Impossible II,0.0,6.112,5770.0,PG-13

## How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [42]:
# counting the movie count for each certification category 
grouped_movies = df_filtered.groupby(['certification'])
count_movies = grouped_movies.size() 
print(count_movies) 
print(count_movies.sum())

certification
G         13
NR         7
PG        30
PG-13    117
R        142
dtype: int64
309

## What is the average revenue per certification category?

In [44]:
# Set the display float format option to a non-scientific notation format
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Group the data by "certification" and calculate the average revenue for each group
avg_revenue_by_certification = df_filtered.groupby("certification")["revenue"].mean()
avg_revenue_by_certification

certification
G       133216881.69
NR       22122566.43
PG      129080604.10
PG-13   111101802.32
R        52365899.56
Name: revenue, dtype: float64

## What is the average budget per certification category?

In [46]:
# Set the display float format option to a non-scientific notation format
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Group the data by "certification" and calculate the average revenue for each group
avg_budget_by_certification = df_filtered.groupby("certification")["budget"].mean()
avg_budget_by_certification

certification
G       44000000.00
NR      13528571.43
PG      51974907.80
PG-13   46627328.09
R       26863479.23
Name: budget, dtype: float64

In [47]:
df_filtered.to_csv('df_filtered.csv.gz', compression='gzip', index=False)
df_filtered.head()

,imdb_id,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,certification
4,tt0118694,0.00,150000.00,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",843.00,cn,花樣年華,Two neighbors become intimate after discoverin...,28.48,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...",2000-09-29,12854953.00,99.00,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,In the Mood for Love,0.00,8.10,2196.00,PG
11,tt0120467,0.00,120000.00,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",19085.00,en,Vulgar,Vulgar is about a man who is a children's clow...,4.16,"[{'id': 102045, 'logo_path': None, 'name': 'Ch...",2002-04-26,14904.00,87.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Vulgar,0.00,5.50,44.00,R
13,tt0120630,0.00,45000000.00,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7443.00,en,Chicken Run,The creators of Wallace & Gromit bring you an ...,41.17,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...",2000-06-23,224834564.00,84.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Chicken Run,0.00,6.70,4352.00,G
16,tt0120753,0.00,8000000.00,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",318.00,en,The Million Dollar Hotel,The Million Dollar Hotel starts with a jump fr...,11.68,"[{'id': 1490, 'logo_path': None, 'name': 'Kint...",2000-02-09,105983.00,122.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Million Dollar Hotel,0.00,5.90,280.00,R
17,tt0120755,0.00,125000000.00,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",955.00,en,Mission: Impossible II,With computer genius Luther Stickell at his si...,32.66,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...",2000-05-24,546388105.00,123.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Mission: Impossible II,0.00,6.11,5770.00,PG-13